packages:
  yum:
    git: []
    python-devel: []
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "hkex.settings"
    DJANGO_SUPERUSER_USERNAME: "admin"
    DJANGO_SUPERUSER_PASSWORD: "admin"
    DJANGO_SUPERUSER_EMAIL: "admin@gmail.com"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: hkex.wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true